In [1]:
'''ここはメモです

データを見る
使える形に変える
学習
予測

survival 0or1
pclass   チケットクラス　1or2or3
sibsp    タイタニック号に乗っている兄弟/配偶者の数
parch    タイタニック号に乗っている親/子の数
ticket   21171とかの5桁以上の数字
fare     旅客運賃
cabin    B45とかE31とか空白がある
embarked 乗船港 C =シェルブール、Q =クイーンズタウン、S =サウサンプトン
その他設定はhttps://www.kaggle.com/c/titanic/dataに書いてある


'''

'ここはメモです\n\nデータを見る\n使える形に変える\n学習\n予測\n\nsurvival 0or1\npclass   チケットクラス\u30001or2or3\nsibsp    タイタニック号に乗っている兄弟/配偶者の数\nparch    タイタニック号に乗っている親/子の数\nticket   21171とかの5桁以上の数字\nfare     旅客運賃\ncabin    B45とかE31とか空白がある\nembarked 乗船港 C =シェルブール、Q =クイーンズタウン、S =サウサンプトン\nその他設定はhttps://www.kaggle.com/c/titanic/dataに書いてある\n\n\n'

In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import mglearn
from IPython .display import display
import os

In [3]:
import csv

train_file = open("./train.csv", "r", encoding="ms932", errors="", newline="" )
f = csv.reader(train_file, delimiter=",", doublequote=True, lineterminator="\r\n", quotechar='"', skipinitialspace=True)

In [4]:
header = next(f)
print(header)

['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked']

In [5]:
df = pd.read_csv('./train.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [6]:
'''#ランダムフォレストやってみる
from sklearn.ensemble import RandomForestClassifier

X,y = df(n_samples=100, noise=0.25, random_state=3)
X_train,X_test,y_train,y_test = train_test_split(X,y,stratify=y,random_state=42)

forest = RandomForestClassifier(n_estimators=5,random_state=2)
forest.fit(X_train,y_train)
'''

'#ランダムフォレストやってみる\nfrom sklearn.ensemble import RandomForestClassifier\n\nX,y = df(n_samples=100, noise=0.25, random_state=3)\nX_train,X_test,y_train,y_test = train_test_split(X,y,stratify=y,random_state=42)\n\nforest = RandomForestClassifier(n_estimators=5,random_state=2)\nforest.fit(X_train,y_train)\n'

In [63]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
#train_x = df.drop(['Name'],['Passengerid'],['Ticket'],['Cabin'], axis=1) 
#train_x = df.drop(['Name','PassengerId','Ticket','Cabin','Survived','Sex', 'Embarked','Cabin'], axis=1)#Sexを追加したため注意
#train_x = df.dropna(how='all')
train_x = df.drop(['Name','PassengerId','Ticket','Cabin','Survived','Embarked','Age','Sex'], axis=1)
print(train_x)
train_y = df['Survived']
(train_x, test_x ,train_y, test_y) = train_test_split(train_x, train_y, test_size = 0.3, random_state = 42)

     Pclass  SibSp  Parch     Fare
0         3      1      0   7.2500
1         1      1      0  71.2833
2         3      0      0   7.9250
3         1      1      0  53.1000
4         3      0      0   8.0500
..      ...    ...    ...      ...
886       2      0      0  13.0000
887       1      0      0  30.0000
888       3      1      2  23.4500
889       1      0      0  30.0000
890       3      0      0   7.7500

[891 rows x 4 columns]

In [65]:
forest = RandomForestClassifier(n_estimators=100, random_state= 42)
forest.fit(train_x, train_y)
print("training set{:.3f}".format(forest.score(train_x, train_y)))
print("test set{:.3f}".format(forest.score(test_x,test_y)))

training set0.841
test set0.672

In [24]:
#df = pd.read_csv('./train.csv')
#df.head()
#['Name','PassengerId','Ticket','Cabin','Survived','Sex', 'Embarked','Cabin']
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [27]:
grouped = df.groupby('Embarked')
print(grouped.size())

Embarked
C    168
Q     77
S    644
dtype: int64

In [28]:
print(df.dropna(how='all'))

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]

In [53]:
#NaNのない列のSurvivedだけを表示したい
#df2 = df.dropna(how='any').drop(['Name','PassengerId','Ticket','Cabin','Survived'], axis=1)
df2 = df['Survived'].dropna(how='any')
#df3 =  df2.['Survived']
print(df2)

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
#train_x = df.drop(['Name'],['Passengerid'],['Ticket'],['Cabin'], axis=1) 
#train_x = df.drop(['Name','PassengerId','Ticket','Cabin','Survived','Sex', 'Embarked','Cabin'], axis=1)#Sexを追加したため注意
#train_x = df.dropna(how='all')
train_x = df.dropna(how='any').drop(['Name','PassengerId','Ticket','Cabin','Survived'], axis=1)
train_y = df['Survived'].dropna(how='any').drop(['Name','PassengerId','Ticket','Cabin','Survived'], axis=1)
(train_x, test_x ,train_y, test_y) = train_test_split(train_x, train_y, test_size = 0.3, random_state = 42)

In [54]:
#TrueがNaNのある列
df.isna().any()

PassengerId    False
Survived       False
Pclass         False
Name           False
Sex            False
Age             True
SibSp          False
Parch          False
Ticket         False
Fare           False
Cabin           True
Embarked        True
dtype: bool